AegisFront/Connected Services/AegisLibraryServiceReference/AegisLibraryService.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AegisLibraryService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AegisLibraryService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BookType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Authors" nillable="true" type="tns:ArrayOfAuthorType" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReleaseDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookType" nillable="true" type="tns:BookType" />
  <xs:complexType name="ArrayOfAuthorType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuthorType" nillable="true" type="tns:AuthorType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthorType" nillable="true" type="tns:ArrayOfAuthorType" />
  <xs:complexType name="AuthorType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorType" nillable="true" type="tns:AuthorType" />
  <xs:complexType name="ArrayOfBookType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookType" nillable="true" type="tns:BookType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookType" nillable="true" type="tns:ArrayOfBookType" />
</xs:schema>