AegisFront/Connected Services/AegisLibraryServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LibraryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AegisLibraryService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILibraryService_AddBook_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBook" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_AddBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBookResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetBook_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBook" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetAllBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooks" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetAllBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooksResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_AddAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAuthor" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_AddAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthor" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetAllAuthors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAuthors" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetAllAuthors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAuthorsResponse" />
  </wsdl:message>
  <wsdl:portType name="ILibraryService">
    <wsdl:operation name="AddBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/AddBook" message="tns:ILibraryService_AddBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/AddBookResponse" message="tns:ILibraryService_AddBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/GetBook" message="tns:ILibraryService_GetBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/GetBookResponse" message="tns:ILibraryService_GetBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/GetAllBooks" message="tns:ILibraryService_GetAllBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/GetAllBooksResponse" message="tns:ILibraryService_GetAllBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorService/AddAuthor" message="tns:ILibraryService_AddAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorService/AddAuthorResponse" message="tns:ILibraryService_AddAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorService/GetAuthor" message="tns:ILibraryService_GetAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorService/GetAuthorResponse" message="tns:ILibraryService_GetAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAuthors">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorService/GetAllAuthors" message="tns:ILibraryService_GetAllAuthors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorService/GetAllAuthorsResponse" message="tns:ILibraryService_GetAllAuthors_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILibraryService" type="tns:ILibraryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddBook">
      <soap:operation soapAction="http://tempuri.org/IBookService/AddBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBook">
      <soap:operation soapAction="http://tempuri.org/IBookService/GetBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBooks">
      <soap:operation soapAction="http://tempuri.org/IBookService/GetAllBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAuthor">
      <soap:operation soapAction="http://tempuri.org/IAuthorService/AddAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthor">
      <soap:operation soapAction="http://tempuri.org/IAuthorService/GetAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAuthors">
      <soap:operation soapAction="http://tempuri.org/IAuthorService/GetAllAuthors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LibraryService">
    <wsdl:port name="BasicHttpBinding_ILibraryService" binding="tns:BasicHttpBinding_ILibraryService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/AegisLibraryService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>